body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
}

.main-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h1 {
  font-size: 24px;
}

#itemsList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


button:hover {
  background-color: #45a049;
}


#itemsList li button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 1.2em;
}


#itemsList li input[type="number"] {
    width: 60px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}



input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}


#itemsList li span {
    flex: 1;
    text-align: left;
    color: #555;
}