body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
}

.main-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h1 {
  font-size: 24px;
}

#itemsList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#itemsList li input[type="number"] {
  max-width: 80px;
  text-align: right;
}

button:hover {
  background-color: #45a049;
}
